html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 100px;
  text-shadow: 10px 10px 0 rgba(255, 0, 255, 0.7);
}
